.container {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 106px;
  overflow: hidden;
}
.wrapList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.text {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--color-second-bg-hover);
  border-radius: 15px;
  padding: 18px 14px;
  backdrop-filter: blur(33.599998474121094px);
  background-color: var(--white);
}

/* WebKit стилізація горизонтальної смуги прокрутки */
.wrapList::-webkit-scrollbar {
  height: 8px;
}

.wrapList::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 9px;
}

.wrapList::-webkit-scrollbar-thumb {
  background-color: var(--color-font-main);
  border-radius: 9px;
}

/* Firefox стилізація горизонтальної смуги прокрутки */
/* .wrapList {
  scrollbar-color: var(--color-font-main) var(--white);
  scrollbar-width: thin;
} */

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    min-height: 118px;
  }
  .wrapList {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapList {
    gap: 16px;
  }
}
