.iconProgressSection {
  width: 16px;
  height: 16px;
}

.btnAddWaterProgressSection {
  margin-top: 40px;
  margin-left: auto;
  min-width: 140px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  stroke: var(--white);

  color: var(--white);
  background-color: var(--color-font-main);
  transition: transform 250ms ease-out, stroke var(--transition-color-color),
    color var(--transition-color-color);
}

.btnAddWaterProgressSection:active {
  color: var(--color-second-bg);
  stroke: var(--color-second-bg);
  transform: translateY(4px);
}

@media screen and (min-width: 768px) {
  .btnAddWaterProgressSection {
    margin-top: 26px;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 462px;
  }

  .iconProgressSection {
    width: 24px;
    height: 24px;
  }

  .btnAddWaterProgressSection:hover,
  btnAddWaterProgressSection:focus {
    color: var(--color-second-bg);
    stroke: var(--color-second-bg);
  }
}

@media screen and (min-width: 1440px) {
  .btnAddWaterProgressSection {
    margin-top: 56px;
    margin-left: 430px;
  }
}
