.LoginWrapper {
}
.LoginForm {
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}
.LoginTitle {
  color: var(--color-font-main);
  font-size: 32px;
  padding-bottom: 32px;
}
.LoginLabel {
}
.LoginPosition {
  position: relative;
}
.LoginName {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
}
.LoginInput {
  background-color: transparent;
  border-radius: 15px;
  outline: transparent;
  color: var(--color-font-main);
  border: 1px solid rgba(47, 47, 47, 0.2);
  padding: 16px;
  width: 100%;
}
.LoginInput::placeholder {
  font-size: 14px;
}

.LoginInput:focus {
  border: 1px solid var(--color-second-bg-hover);
}
.singUpIcon {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.formInputError {
  color: red;
  border-color: red;
}

.formInputError:focus {
  color: red;
  border-color: red;
  outline: none;
}
.formInputValid {
  color: green;
  border-color: var(--color-font-second);
}
.formInputValid {
}
.errorMsg {
  color: red;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.LoginBtn {
  cursor: pointer;
  font-weight: 700;
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  background-color: var(--color-second-bg);
  color: var(--color-font-main);
  border: none;
  margin-bottom: 16px;
}
.LoginChange {
}
.LoginText {
  display: flex;
  gap: 4px;
  justify-content: center;
  color: rgba(47, 47, 47, 0.5);
}
.LoginLink {
  font-weight: 700;
  color: var(--color-font-second);
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .LoginTitle {
    font-size: 36px;
  }
  .LoginName {
    font-size: 16px;
  }
  .LoginBtn {
    padding: 18px;
  }
  .LoginText {
    font-size: 16px;
  }
  .LoginInput::placeholder {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
}
