.h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  width: 248px;
  text-align: left;
  margin-bottom: 24px;
}
.p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
  margin-bottom: 20px;
}
