.welcome {
    background-color: #F0EFF4;
    border-radius: 30px;
    padding: 118px 16px 67px;
    padding-right: 16px;
}

.text {
    color: #2F2F2F;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    margin-bottom: 16px;
}

.header {
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
}

.links {
    display: flex;
    gap: 10px;
}

.register {
    background-color: #9BE1A0;
    border-radius: 30px;
    padding: 14px 19px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #323F47;
}

.register:hover {
    background-color: #87D28D;
}

.login {
    border: 1px solid #323F47;
    border-radius: 30px;
    padding: 14px 19px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #323F47;
}

.login:hover {
    border: 1px solid #87D28D;
    color: #87D28D;
}


@media screen and (min-width: 768px) {
    .welcome {
        padding: 106px 64px 60px 64px;
        width: 704px;
    }

    .text {
        line-height: 24px;
        font-size: 16px;
    }

    .header {
        font-weight: 700;
        font-size: 64px;
        line-height: 70px;
    }

    .links {
        gap: 16px;
    }

    .register {
        padding: 18px 40px;
        font-size: 16px;
        line-height: 24px;
    }

    .login {
        padding: 18px 40px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .welcome {
        padding-left: 61px;
        padding-right: 61px;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        font-size: 80px;
        line-height: 76px;
    }
}