.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: var(--color-font-main);
  text-transform: uppercase;
}

.paddingLeft {
  padding: 24px 16px 30px 16px;
}

.layoutWrapper {
  border-radius: 30px;
  display: grid;
  gap: 16px;
  min-height: calc(100vh - 64px);
}

.component {
  border-radius: 30px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 24px;
  }

  .paddingLeft {
    padding: 32px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .layoutWrapper {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .paddingLeft {
    padding: 32px 32px 40px 32px;
  }
}
