
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 9px;
  width: 303px;
  padding: 0;

  @media screen and (min-width: 768px) {
    gap: 24px;
    width: 640px;
  }

  @media screen and (min-width: 1400px) {
    gap: 22px;
    width: 608px;
  }
}


  
  
  