
.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 9px;
  width: 100%;
  padding: 0;

  @media screen and (min-width: 768px) {
    gap: 24px;
    grid-template-columns: repeat(8, 1fr);
    
  }

}


  
  
  