.container {
  min-height: 100vh;
  max-width: 375px;
  margin: auto;
  padding: 16px;  
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 32px;
    max-width: 1440px;
  }
}