.container {
  min-height: 100vh;
  max-width: 375px;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;
    max-width: 1440px;
  }
}
