
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    padding: 32px;
  }
}
  
.header {
  display: flex;
  align-items: center;
}
  
.title {
  margin-right: auto;
  margin-left: 0;
  font-size: 20px;
  color: rgba(50, 63, 71, 1);
  flex: 1;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    
  }
}
  
.button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}

.icon {
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
  

 
  