.RegisterContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}
.RegisterTitle {
  color: var(--color-font-main);
  font-size: 32px;
  padding-bottom: 32px;
}
.RegisterPosition {
  position: relative;
}
.RegisterName {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
}
.RegisterInput {
  background-color: transparent;
  border-radius: 15px;
  outline: transparent;
  color: var(--color-font-main);
  border: 1px solid rgba(47, 47, 47, 0.2);
  padding: 16px;
  width: 100%;
}
.RegisterInput::placeholder {
  font-size: 14px;
}
.RegisterInput:focus {
  border: 1px solid var(--color-second-bg-hover);
}
.singUpIcon {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.formInputError {
  color: red;
  border-color: red;
}
.formInputError:focus {
  color: red;
  border-color: red;
  outline: none;
}
.formInputValid {
  color: green;
  border-color: var(--color-font-second);
}
.errorMessageWrapper {
  position: absolute;
  top: -8px;
  right: 0;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: red;
}
.RegisterBtn {
  cursor: pointer;
  font-weight: 700;
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  background-color: var(--color-second-bg);
  color: var(--color-font-main);
  border: none;
  margin-bottom: 16px;
}
.RegisterBtn:disabled {
  color: var(--color-main-bg);
  background-color: rgb(170, 195, 170);
  cursor: auto;
}
.RegisterText {
  display: flex;
  gap: 4px;
  justify-content: center;
  color: rgba(47, 47, 47, 0.5);
}
.RegisterLink {
  font-weight: 700;
  color: var(--color-font-second);
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .RegisterTitle {
    font-size: 36px;
  }
  .RegisterName {
    font-size: 16px;
  }
  .RegisterBtn {
    padding: 18px;
  }
  .RegisterText {
    font-size: 16px;
  }
  .RegisterInput::placeholder {
    font-size: 16px;
  }
}
