.container {
  min-width: 320px;
  width: 100%;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    display: flex;
    gap: 32px;
  }
}
