.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button {
  background-color: rgba(50, 63, 71, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: rgba(50, 63, 71, 1);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  
  }
}
  
.completed {
  background-color: white;
}
  
.incomplete {
  color: white;
}
  
.selected {
  background-color: rgba(50, 63, 71, 1);
  color: rgba(155, 225, 160, 1);
}

.percentage {
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  margin-top: 6px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-top: 4px;
  }
}
  

  