.container {
  /* My daily norma */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 102px;
  height: 54px;

  margin-top: 78px;

  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.dailyNorma {
  /* 1.5 L */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 6px;

  color: #323f47;
}

.text {
  /* My daily norma */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  color: rgba(47, 47, 47, 0.6);
}

@media screen and (min-width: 768px) {
  .container {
    width: 129px;
    height: 78px;
    margin-top: 88px;
    padding: 14px 18px;
  }

  .dailyNorma {
    font-size: 15px;
    line-height: 1.49;
    margin-bottom: 0px;
  }

  .text {
    font-size: 12px;
    line-height: 22.4px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    left: 64px;
    top: 157px;
    margin-top: 65px;
  }
}
